.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  align-items: center;
}

.hero-left {
  padding: 80px;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.1;
}

.hero-left em {
  color: var(--caramel);
}

.hero-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  margin-bottom: 80px;
}
/* IMAGE */
.hero-img {
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

/* FLOAT BOX */
.hero-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: var(--caramel);
  color: white;
  padding: 20px 30px;
}

.year {
  font-size: 32px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-left {
    padding: 40px 20px;
  }

  .hero-left h1 {
    font-size: 40px;
  }

  .hero-right {
    margin-top: 20px;
  }

  .hero-img {
    max-width: 90%;
  }

  .hero-box {
    position: static;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
